# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Vim backups
*.swp

# Sound files
test/*.wav
dats/*.wav

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Latex outputs
*.log
*.pdf
*.aux
*.out
